@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-onest: 'Onest Variable', sans-serif;
    --color-primary: #C80036;
    --color-primary-dark: #F87171;
}

body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
    font-family: var(--font-onest);
}

@layer components {

    .input,
    .select {
        @apply w-full rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-900 focus:border-[var(--color-primary)] focus:outline-none focus:ring-1 focus:ring-[var(--color-primary)] dark:border-gray-600 dark:bg-gray-800 dark:text-white transition-colors duration-200;
    }

    .label {
        @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1;
    }

    .label-text {
        @apply text-base;
    }
}